@charset "UTF-8";

/* Paleta de cores
Verde : #49a09d
Lilas : #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
   background: #5f2c82 url(../imagens/pexels-adrien-olichon-2387796.jpg) no-repeat;
   height: 200px;
   background-size: cover;
   background-position: center bottom;
   display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
       background-color: #56adaa;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 0px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    background-color: #56adaa;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #56adaa;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #306361;
    border-radius: 8px;
    color: #306361;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
}
form > a.botao:hover{
    background-color: #56adaa;
}

form > a.botao > span{
    font-size: 0.8em;
}
