@charset "UTF-8";

/* Paleta de cores
Verde : #49a09d
Lilas : #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
   background: #5f2c82 url(../imagens/pexels-adrien-olichon-2387796.jpg) no-repeat;
   height: 200px;
   background-size: cover;
   background-position: center bottom;
   display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

